/* @import url("/home/landow/.cache/wal/colors-waybar.css"); */
@import url("/home/landow/dotfiles/wm/waybar/colors-everforest.css");

* {
    font-size: 14px;
}

* {
  border-radius: 0;
  /* font-family: "JetBrains Mono NF", "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: "Mononoki Nerd Font";
  font-size: 11pt;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @base19;
}

tooltip {
  background: @base02;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: @base17;
}

#workspaces { border-radius: 15px; }
#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
  color: @base19;
}

#workspaces button.active { color: @base17; }
#workspaces button.urgent { color: @base12; }
#workspaces button:hover { color: @base16; }

#disk, #clock, #custom-date, #custom-weather, #memory, #battery, #custom-net, #network, #pulseaudio, #workspaces, #temperature, #custom-gpu_usage, #custom-gpu_temp, #cpu {
  padding: 2px 6px;
  background: @base01 10%;
  margin-top: 5px;
}

/* Right Side, left endcap */
#custom-net, #network {
  color: @base15;
  padding-left: 12px;
  border-radius: 15px 0px 0px 15px;
}

#disk, #cpu, #temperature { color: @base16; }
#custom-gpu_usage, #custom-gpu_temp { color: @base17; }
#battery { color: @base13; }

/* Right Side, right endcap */
#pulseaudio {
  color: @base12;
  padding-right: 12px;
  margin-right: 5px;
  border-radius: 0px 15px 15px 0px;
}

#clock {
  color: @base12;
  padding-left: 12px;
  margin-left: 5px;
  border-radius: 15px 0px 0px 15px;
}

#custom-date { color: @base13; }
#custom-weather { color: @base14; padding-top: 8px; }

#memory {
  color: @base15; 
  padding-right: 12px;
  border-radius: 0px 15px 15px 0px;
}


